<!DOCTYPE html>
<html>
<head>
    <title>Agent Portal</title>
    <style>
      .urgent {
          color: rgb(199, 28, 28);
          font-weight: bold;
      }
  </style>
</head>
<body>
    <h1>Welcome, {{ agent.name }}!</h1>
    <form method="get" action="{% url 'agent_portal' agent_id=agent.id %}">
      <input type="text" name="q" placeholder="Search messages or customers">
      <input type="submit" value="Search">
  </form>

    {% if messages %}
        <h2>Assigned Messages:</h2>
        <ul>
            {% for message in messages %}
            <div  {% if message.is_urgent %}class="urgent"{% endif %}>
                <li>
                    <strong>From:</strong> {{ message.sender_name }}<br>
                    <strong>Message:</strong> {{ message.message_text }}<br>
                    <strong>Timestamp:</strong> {{ message.timestamp }}<br>
                    {% if message.agent_reply %}
                        <strong>Agent Reply:</strong> {{ message.agent_reply }}
                    {% endif %}
                    
                    <form method="post" action="{% url 'agent_reply' message.id %}">
                        {% csrf_token %}
                        {{ reply_form.agent_reply }}
                        <input type="hidden" name="message_id" value="{{ message.id }}">
                        <!-- <input type="text" name="agent_reply" id="reply"> -->
                        <input type="submit" value="Submit Reply">
                    </form>
                  </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No messages assigned to you.</p>
    {% endif %}
</body>
</html>
